body { user-select:none; /* standard syntax */ -webkit-user-select:none; /* for Chrome、Safari */ -moz-user-select:none;  /* for Mozilla、Firefox */ }
@font-face { font-family: 'lxgw'; src: url('font/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular.ttf'); }
@font-face { font-family: 'playwrite'; src: url('font/Playwrite_AU_TAS/PlaywriteAUTAS-VariableFont_wght.ttf'); }
a{ text-decoration: none; color: #291b09; }
body{ background-color: #FFFBEE; margin: 0%; font-family: 'lxgw'; }
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar:hover { width: 7px; height: 7px; }
/* Form */
.Form { position: absolute; background-color: #fff1c5; font-family: 'lxgw'; width: 210px; height: 400px; border-radius: 10px;  margin-left: 50%; margin-top: 10px; }
/* NameBox */
.NameBox { position: relative; margin: 20px 0 40px; width: 190px; margin-left: 10px; }
.NameBox input { font-family: 'lxgw'; border-radius: 10px; background-color: #ffe48e; border: 0; border-bottom: 2px #fffdf5 solid; display: block; width: 100%; padding: 15px 0; font-size: 18px; color: #a98d1b; }  
.NameBox input:focus, .NameBox input:valid { outline: 0; border-bottom-color: #e6d2ad; }  
.NameBox label { position: absolute; top: 15px; left: 0; pointer-events: none; }  
.NameBox label span { display: inline-block; font-size: 18px; min-width: 5px; margin-left: 5px; color: #a98d1b; transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }  
.NameBox input:focus+label span, .NameBox input:valid+label span { color: #aa7335; transform: translateY(-30px); }
/* CheckBox.Mark */
.dweek { display: block; height: 1.5em; width: 1.5em; cursor: pointer; position: relative; margin-left: 10px; margin-right: 10px; }
.dweek input { position: absolute; transform: scale(0); }
.dweek input:checked ~ .checkmark { transform: rotate(45deg); height: 2em; width: .7em; border-color: #cd8f32; border-top-color: transparent; border-left-color: transparent; border-radius: 0; margin-top: -30px; margin-bottom: 5px; }
.dweek .checkmark { display: block; width: inherit; height: inherit; border: 2px solid #cd8f32; border-radius: 4px; transition: all .3s; margin-left: 35px; margin-right: 5px;}
/* dweekDay */
.dweekbox { background-color: #e6d2ad; border-radius: 10px; height: 250px; margin-left: 10px; margin-right: 10px; margin-top: -30px;}
.dweektitle { font-family: 'lxgw'; font-size: 20px; margin-left: 10px;}
.dweekd7 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dweekd1 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dweekd2 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dweekd3 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dweekd4 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dweekd5 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dweekd6 { font-family: 'lxgw'; font-size: 20px; margin-left: 10px; margin-top: 15px; }
.dwd7 { margin-top: -25px; }
.dwd1 { margin-top: -25px; }
.dwd2 { margin-top: -25px; }
.dwd3 { margin-top: -25px; }
.dwd4 { margin-top: -25px; }
.dwd5 { margin-top: -25px; }
.dwd6 { margin-top: -25px; }
.dwbox7 { position: absolute; background-color: #ffe48e; margin-top: 20px; margin-left: 10px; border-radius: 10px; }
.dwbox1 { position: absolute; background-color: #ffe48e; margin-top: 20px; margin-left: 100px; border-radius: 10px; }
.dwbox2 { position: absolute; background-color: #ffe48e; margin-top: 80px; margin-left: 10px; border-radius: 10px; }
.dwbox3 { position: absolute; background-color: #ffe48e; margin-top: 80px; margin-left: 100px; border-radius: 10px; }
.dwbox4 { position: absolute; background-color: #ffe48e; margin-top: 140px; margin-left: 10px; border-radius: 10px; }
.dwbox5 { position: absolute; background-color: #ffe48e; margin-top: 140px; margin-left: 100px; border-radius: 10px; }
.dwbox6 { position: absolute; background-color: #ffe48e; margin-top: 200px; margin-left: 10px; border-radius: 10px; }