.Name{
    position: relative;
    height: 140px;
    width: 240px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
    font-family: 'lxgw';

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}
  
.Name:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffb75a;
}
  
.Name p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;
}
  
.Name-input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff9e4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all .25s ease;
}
.Name input:focus { outline: none; border-bottom: 1px solid #df993d; font-family: 'lxgw'; }
.Name .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #ffb75a;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}
.Name .submit-btn:hover { background-color: #c58736; box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569); }