@font-face { font-family: 'lxgw'; src: url('font/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular.ttf'); }
@font-face { font-family: 'playwrite'; src: url('font/Playwrite_AU_TAS/PlaywriteAUTAS-VariableFont_wght.ttf'); }

a{ text-decoration: none; }
body{ background-color: #d1a56793; }
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar:hover { width: 7px; height: 7px; }
  
.box{
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #d1a56793;
    position: absolute;
    left: 185px;
    top: 150px;
    margin-left:-100px;
    margin-top:-100px;

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}
#avatar{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: 40px;
    border-radius: 10px;
}