@font-face { font-family: 'lxgw'; src: url('font/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular.ttf'); }
@font-face { font-family: 'playwrite'; src: url('font/Playwrite_AU_TAS/PlaywriteAUTAS-VariableFont_wght.ttf'); }

a{ text-decoration: none; }
body{ background-color: #FFFBEE; margin: 0%;}
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar:hover { width: 7px; height: 7px; }
  
.box{
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EFE7DD;
    position: absolute;
    left: 30px;
    top: 30px;
    /* margin-left:-100px;
    margin-top:-100px; */

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}
#avatar{
    width: 160px;
    height: 160px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
}

.menu{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* justify-content: center; */

    width: 410px;
    height: 470px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EFE7DD;
    position: absolute;
    left: 30px;
    top: 220px;

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    overflow-y:auto;
}
.menuword {
    letter-spacing: 5px;
    color: #38250d;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 330px;
    line-height: 35px;
    font-family: 'lxgw';
}
.menutitle {
    letter-spacing: 5px;
    color: #291b09;
    font-size: 30px;
    margin-left: 41px;
    font-family: 'lxgw';
}

.mainmenu{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ecdac4;
    position: absolute;
    margin-left: 10px;
    margin-top: -15px;

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    overflow-y:auto;
}
.mainmenuword {
    letter-spacing: 5px;
    color: #38250d;
    font-size: 20px;
    margin-left: 25px;
    font-family: 'lxgw';
    line-height: 20px;
}
.mainmenutitle {
    letter-spacing: 5px;
    color: #291b09;
    font-size: 25px;
    margin-left: 25px;
    font-family: 'lxgw';
}

.main2menu{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    width: 180px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ecdac4;
    position: absolute;
    margin-left: 220px;
    margin-top: -15px;

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    overflow-y:auto;
}
.main2menuword {
    letter-spacing: 5px;
    color: #38250d;
    font-size: 20px;
    margin-left: 25px;
    font-family: 'lxgw';
    line-height: 20px;
}
.main2menutitle {
    letter-spacing: 5px;
    color: #291b09;
    font-size: 25px;
    margin-left: 25px;
    font-family: 'lxgw';
}

.dmenu{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* justify-content: center; */

    width: 270px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EFE7DD;
    position: absolute;
    left: 450px;
    top: 220px;

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    overflow-y:auto;
}
.dmenutitle {
    letter-spacing: 5px;
    color: #291b09;
    font-size: 30px;
    margin-left: 25px;
    font-family: 'lxgw';
}

.dmainmenuword {
    letter-spacing: 5px;
    color: #38250d;
    font-size: 20px;
    margin-left: 25px;
    font-family: 'lxgw';
    line-height: 20px;
}

.remark{
    font-size: 15px;
    color: #f10000;
}

.saladmenucard {
    width: 180px;
    height: 70px;
    margin-left: 220px;
    margin-top: 320px;
    background: #8d6f4b;
    border-radius: 75px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    color: white;
    font-family: 'lxgw';
    position: absolute;
    z-index: 2;
}  
.saladmenucard:hover {
    cursor: pointer;
    transform: scale(1.05);
}  

.donutmenucard {
    width: 180px;
    height: 70px;
    margin-left: 40px;
    margin-top: 320px;
    background: #8d6f4b;
    border-radius: 75px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    color: white;
    font-family: 'lxgw';
    position: absolute;
    z-index: 2;
}  
.donutmenucard:hover {
    cursor: pointer;
    transform: scale(1.05);
}  